* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    font-family: sans-serif;
    background-color: black;
}

/* utilities */
.display-flex {
    display: flex;
}
.width-90 {
    width: 90%;
}
.margin-auto {
    margin: auto;
}
.green-text {
    color: rgb(141, 235, 0);
}
.red-text {
    color: red;
}

/* header */
nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    color: white;
    background-color: rgb(32, 30, 30);
}
.btn {
    padding: 0.2em;
    border-radius: 5px;
    margin: 0.2em;
}
.btn:hover {
    background-color: grey;
}
nav {
    justify-content: space-between;
    overflow-x: auto;
}


/* colonne */
.col-left {
    /* width: 20%; */
    justify-content: flex-start;
    align-items: center;
}
.col-center {
    /* width: 60%; */
    justify-content: center;
    align-items: center;
}
.col-right {
    /* width: 20%; */
    justify-content: flex-end;
    align-items: center;
}
.btn .symbol {
    flex-direction: column;
}
.symbol i {
    font-size: 1.6em;
    text-align: center;
}
.symbol span {
    font-size: 0.6em;
    text-align: center;
}
.symbol > * {
    padding: 0.2em 0.5em;
}
.arrow i {
    font-size: 0.5em;
    padding: 0.4em;
    border-radius: 5px;
}
.arrow i:hover {
    background-color: lightgray;
}
.end-meeting {
    height: 100%;
    font-size: 0.6em;
    padding: 0 1.3em;
    background-color: rgb(94, 91, 91);
    align-items: center;
    justify-content: center;
}

/* main */
main {
    height: calc(100vh - 65px);
    overflow: auto;
    position: relative;
}
.top-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em;
    font-size: 0.6em;
}
.top-buttons-container > * {
    padding: 0.3em;
    border-radius: 3px;
    background-color: grey;
    margin: 0 0.2em;
}
/* main container */
.main-container {
    padding: 4em 4em 0 4em;
    margin: auto;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.main-container .img-container {
    position: relative;
    margin: 0.3em;
}
.main-container .img-container .speaker-name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    padding: 0.4em;
}
.main-container .img-container img {
    width: 150px;
}